@charset "gb2312";
/* CSS Document */
/***********************************************************全局****************************************************************/
body{font-size:13px; color:#3f3e3e; font-family:"微软雅黑", "宋体"; background:#f5f3ee;}

*{margin:0; border:0; padding:0; list-style-type:none; text-decoration:none; border-collapse:collapse; color:inherit; font-size:inherit;}

p,div,span{line-height:180%;}

p{margin:10px auto;}

table{width:100%;}

.clear{clear:both;}

a:hover{color:red;}
/*********************************************************************************************************************************/

/*底层*/
#Base{
	max-width:1920px;/*根据背景图片宽度调节*/
	position:relative;
	margin:0 auto;
	overflow:hidden;
}

/*首页头部*/
#head{
	position:relative;
	height:604px;/*根据背景图片高度调节*/
}

/*其他页头部*/
#head1{
	position:relative;
	height:472px;/*根据背景图片高度调节*/
}

/*背景图片淡入淡出*/
a.alternate,img.alternate{
	display:inline-block;
	position:absolute;
	bottom:0;
	left:50%;
	margin-left:-960px;
	z-index:1;
}
/*跟随背景图片动态变化的圆点*/
#dot{
	position:absolute;
	width:100%;
	bottom:22px;/*根据圆点竖直位置*/
	text-align:center;
	z-index:1;
}

#dot img{
	margin:0 10px;
}

/*菜单*/
#fa-menu{
	width:; /*内容页面宽度*/
	height:139px; 
	margin:0 auto; 
	position:relative;
}

#menu{
	position:absolute;
	top:102px;
	right:0;
	z-index:1;
}

#menu>li{
	float:left;
	position:relative;
}

#menu>li>a{
	color:white;
	display:inline-block;
	padding:0 40px;
}
#menu>li>a>img{float:left;}
#menu>li>a>span{float:right; line-height:37px; font-size:14px;}
#menu>li>div{
	top:37px;
	left:66px;
	position:absolute;
	display:none;
}

#menu>li>div>a{
	font-size:14px;
	display:block;
	line-height:37px;
	padding:0 19px;
	background:#d02516;
	color:white;
}
#menu>li>div>a:hover{color:#d02516;background:white;opacity:0.6;-moz-opacity:0.6;filter:alpha(opacity=60);}
/*中部盒子*/
#middle{
	width:1170px;/*内容页面宽度*/
	margin:40px auto;
}

/*底部盒子*/
#bottom{
	padding:27px 0;
	border-top:1px solid #ceccc9;
}

#ch-bottom{
	width:;/*内容页面宽度*/
	margin:0 auto;
	font-size:12px;
	line-height:150%;
}