@charset "gb2312";
/*顶部模糊横条*/
.blur{background-color:white; opacity:0.5; -moz-opacity:0.5; filter:alpha(opacity=50); position:absolute; top:102px; height:12px; width:100%; z-index:1;}

.leftMenuTitle{font-size:18px;}
.leftMenuContent a{display:block; border:1px solid #cccccc; font-size:15px; line-height:200%; margin:10px auto; padding-left:15px;}
.leftMenuContent a img{float:right; margin:10px 10px 0 0;}

.left table{margin-top:10px;}
.left table td{height:32px; font-size:14px; line-height:120%;}